$primary: red;
@import '~bootstrap/scss/bootstrap';
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&family=Zilla+Slab:wght@500&display=swap');

.card-style {
  font-family: 'Inter', sans-serif;
}

.headerStyle {
  font-family: 'Inter', sans-serif;
  font-family: 'Zilla Slab', serif;
}

.pStyle {
  font-family: 'Inter', sans-serif;
  font-family: 'Zilla Slab', serif;
}
